@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color1: #800f0f;
  --color2: #eeeeee;
  --color3: #1d1d1d;
}
body {
  background-color: rgb(3, 2, 10);
  animation: bg 6s ease-in-out 1 forwards;
  animation-delay: 10s;
}
@keyframes bg {
  0%,
  30% {
    background-color: rgb(3, 2, 10);
  }
  30%,
  90% {
    background-color: rgb(10, 7, 31);
  }
  100% {
    background-color: var(--color1);
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-color: rgb(27, 27, 27);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader_finish {
  animation: loader 1s ease-in-out 1 forwards;
}
@keyframes loader {
  0% {
    transform: translate(-50%, -50%);
    display: block;
  }
  95% {
    transform: translate(-50%, -150%);
    display: block;
  }
  100% {
    transform: translate(-50%, -150%);
    display: none;
  }
}
/* html,
body {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins";
  background-color: rgb(3, 2, 10);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bg 3s ease-in-out 1 forwards;
  animation-delay: 10s;
}
@keyframes bg {
  from {
    background-color: rgb(3, 2, 10);
  }
  to {
    background-color: rgb(12, 8, 37);
  }
} */

.webgl {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 9999;
}

.container_gltf {
  position: relative;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 5vw;
}
.container_gltf header {
  position: absolute;
  top: 0%;
  left: 5.5vw;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.container_gltf header ul {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container_gltf header ul li {
  margin: 2vh 0;
}
.container_gltf header ul li a {
  text-decoration: none;
  color: var(--color1);

  animation: links 3s ease-in-out 1 forwards;
  animation-delay: calc(20s + (0.2s * var(--i)));
  opacity: 0;
}
@keyframes links {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container_gltf .rightSlide_img {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100vh;
  z-index: 0;
  perspective: 1000px;
  transform: rotateX(50deg) rotateY(501deg) rotateZ(120deg);

  animation: rightSlide_img 2s ease-out 1 forwards;
  animation-delay: 16s;
}
@keyframes rightSlide_img {
  from {
    left: -100%;
    transform: rotateX(50deg) rotateY(501deg) rotateZ(120deg);
  }
  to {
    left: 0%;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}
.container_gltf .rightSlide_img path{
  height: 100%;
}
.container_gltf .redLine {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 121vh;
  z-index: 10;
  stroke-dasharray: 10000px;
  stroke-dashoffset: 10000px;
  -webkit-animation: stroke-dash 6s ease-in-out 1 forwards;
  animation: stroke-dash 6s ease-in-out 1 forwards;
  -webkit-animation-delay: calc(16s + 2s);
  animation-delay: calc(16s + 2s);
}
.container_gltf .redLine path{
  height: 100%;
}
@-webkit-keyframes stroke-dash {
  to {
    stroke-dashoffset: 0px;
  }
}
@keyframes stroke-dash {
  to {
    stroke-dashoffset: 0px;
  }
}
.container_gltf .tag {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  animation: tag 1.5s ease-in-out 1 forwards;
  animation-delay: 20s;
  opacity: 0;
}
@keyframes tag {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container_gltf .silouhette {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 45vw;
  z-index: 12;
}
.container_gltf .rightSlide {
  width: 60%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}
.container_gltf .rightSlide h1 {
  width: 100%;
  font-size: 10vw;
  line-height: 14vh;
  color: var(--color1);
  margin-bottom: 7vh;
  animation: beCreative 3s ease-in-out 1 forwards;
  animation-delay: 16s;
  opacity: 0;
}
@keyframes beCreative {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container_gltf .rightSlide .text {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-bottom: 6vh;
}
.container_gltf .rightSlide .text .line {
  height: 0vh;
  width: 4px;
  background-color: var(--color1);
  margin-right: 1.5vw;
  transform-origin: top;
  animation: line 1.5s ease-in-out 1 forwards;
  animation-delay: 18s;
}
@keyframes line {
  from {
    height: 0vh;
  }
  to {
    height: 10vh;
  }
}

.container_gltf .rightSlide .text p {
  position: relative;
  text-align: justify;
  width: 85%;
  font-size: 1vw;
  font-weight: 200;
  opacity: 0;
  -webkit-animation: p-text 1s ease-in-out 1 forwards;
  animation: p-text 1s ease-in-out 1 forwards;
  -webkit-animation-delay: calc(16s + 2s);
  animation-delay: calc(16s + 2s);
}
@-webkit-keyframes p-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes p-text {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container_gltf .rightSlide .text p::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  z-index: 1;
  -webkit-animation: p-before 1.5s ease-in-out 1 forwards;
  animation: p-before 1.5s ease-in-out 1 forwards;
  transform-origin: top;
  -webkit-animation-delay: calc(16s + 2s);
  animation-delay: calc(16s + 2s);
}
@-webkit-keyframes p-before {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
@keyframes p-before {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
.container_gltf .rightSlide .btn {
  position: relative;
  cursor: pointer;
  padding: 1.5vh 2.5vw;
  border-radius: 0.3vw;
  color: var(--color2);
  border: 2px solid transparent;
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  -webkit-animation: btn 1.5s ease-out 1 forwards;
  animation: btn 1.5s ease-out 1 forwards;
  -webkit-animation-delay: opacity 2s;
  animation-delay: opacity 2s;
  -webkit-animation-delay: calc(16s + 2s);
  animation-delay: calc(16s + 2s);
  transition: 0.4s ease-in-out;
}

@-webkit-keyframes btn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    color: var(--color1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes btn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    color: var(--color1);
  }
  100% {
    opacity: 1;
  }
}
.container_gltf .rightSlide .btn:hover {
  border: 2px solid var(--color1);
  color: var(--color1);
  background-color: transparent;
}
.container_gltf .rightSlide .btn img {
  margin-left: 0vw;
  -webkit-animation: imgBtn 1.5s ease-out 1 forwards;
  animation: imgBtn 1.5s ease-out 1 forwards;
  -webkit-animation-delay: calc(16s + 2s);
  animation-delay: calc(16s + 2s);
  opacity: 0;
}
@-webkit-keyframes imgBtn {
  from {
    opacity: 0;
    margin-left: 0vw;
  }
  to {
    opacity: 1;
    margin-left: 1vw;
  }
}
@keyframes imgBtn {
  from {
    opacity: 0;
    margin-left: 0vw;
  }
  to {
    opacity: 1;
    margin-left: 1vw;
  }
}
.container_gltf .rightSlide .btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  z-index: 1;
  -webkit-animation: btn-before 1.5s ease-out 1 forwards;
  animation: btn-before 1.5s ease-out 1 forwards;
  transform-origin: top;
  -webkit-animation-delay: calc(16s + 2s);
  animation-delay: calc(16s + 2s);
  transition: 0.4s ease-in-out;
}
@-webkit-keyframes btn-before {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
@keyframes btn-before {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
.container_gltf .bandeBlanche {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%) rotate(-35deg);
  height: 0vh;
  width: 12vw;
  background-color: var(--color2);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.04);
  z-index: 11;

  animation: bandeBlanche 2s ease-out 1 forwards;
  animation-delay: 16s;
}
@keyframes bandeBlanche {
  from {
    left: 80%;
    height: 0vh;
    border-radius: 50vw;
    transform: translate(-50%, -50%) rotate(-35deg);
  }
  to {
    left: 80%;
    height: 150vh;
    border-radius: 0vw;
    transform: translate(-50%, -50%) rotate(-35deg);
  }
}
